.name-wrapper {
  padding: 10px;
  background: #2a3a4a;
  border-bottom: 2px dashed #4f749d;
  border-top: 2px dashed #4f749d;
}

.name {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  padding: 0%;
  margin: 0%;
}