:root {
  --background-body: #1f2227
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-body: #1f2227
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  position: absolute;
  width: 0.4em;
  background-color: transparent;
  display: block;

}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--background-body);
  padding: 0;
  margin: 0;
}