.wrapper {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 45px 0px;

}


@media only screen and (max-width: 1024px) {
  .wrapper {
    width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 650px) {
  .intro {
    flex-direction: column-reverse;
  }
}