.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills div {
  border: 1.5px dashed #4f749d;
  padding: 5px;
  margin: 5px;
}

.skills div p{
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
  font-weight: bold;
  padding: 0%;
  margin: 0%;
}